@import 'config';

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  -ms-grid-columns: auto;
  -ms-grid-rows: auto;
  justify-items: stretch; }

.display-grid{
    display: -ms-grid;
    display: grid;
}

.grid-auto-rows{
    grid-auto-rows: auto;
}

.align-items-start {
  align-items: start; }

.align-items-end {
  align-items: end; }


@for $i from 1 to $grid-cell + 1 {
    .grid-#{$i} {
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat($i, 1fr);
      @extend .display-grid;
      @extend .grid-auto-rows;
    }
}

@media (max-width: 767px)  {
  @for $i from 1 to $grid-cell + 1 {
    .col-xs-#{$i} {
       grid-column: $i;
    }
  }

  @for $i from 1 to $grid-cell + 1 {
    @for $j from $i + 1 to $grid-cell + 1 {
      .col-xs-#{$i}-#{$j} {
         grid-column: #{$i} / #{$j + 1}
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px)  {
  @for $i from 1 to $grid-cell + 1 {
    .col-sm-#{$i} {
       grid-column: $i
    }
  }

  @for $i from 1 to $grid-cell + 1 {
    @for $j from $i + 1 to $grid-cell + 1 {
      .col-sm-#{$i}-#{$j} {
         grid-column: #{$i} / #{$j + 1}
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  @for $i from 1 to $grid-cell + 1 {
    .col-md-#{$i} {
       grid-column: $i
    }
  }

  @for $i from 1 to $grid-cell + 1 {
    @for $j from $i + 1 to $grid-cell + 1 {
      .col-md-#{$i}-#{$j} {
         grid-column: #{$i} / #{$j + 1}
      }

    }
  }
}


@media (min-width: 1200px){
  @for $i from 1 to $grid-cell + 1 {
    .col-lg-#{$i} {
       -ms-grid-column: #{$i};
       grid-column: $i;
    }
  }

  @for $i from 1 to $grid-cell + 1{
    .col-lg-#{$i}-#{$i} {
      -ms-grid-column: #{$i};
      -ms-grid-column-span: #{$i};
       grid-column: #{$i} / #{$i};
    }
  }

  @for $i from 1 to $grid-cell + 1 {
    @for $j from $i  to $grid-cell + 1 {
      .col-lg-#{$i}-#{$j} {
        -ms-grid-column: #{$i};
        -ms-grid-column-span: #{$j - $i + 1};
         grid-column: #{$i} / #{$j + 1};
      }

    }
  }
}


